.photo-album-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;

  .title-album {
    position: sticky;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .content-app {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 100px);
    padding-bottom: 20px;
    margin-top: 10px;

    .input-search-container {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: calc(50% - 22px);
      padding-left: 10px;

      input {
        height: 100%;
        width: 100%;
        background: transparent;
        border: 1px solid #6d6d6d;
        padding-left: 10px;
        border-radius: 5px;
        color: white;
      }
    }

    .grid-and-detail-container {
      width: 100%;
      display: flex;
      column-gap: 5px;
      height: 100%;
      overflow: hidden;
  
      .section {
        flex: 1;                
        overflow-y: auto; 
        padding: 10px;
        box-sizing: border-box;
      }
  
      .album-area {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        max-width: 50%;
  
        .album-results-area {
          max-height: calc(100vh - 80px);
          overflow-y: auto;
  
          &::-webkit-scrollbar {
            width: 10px;
            height: 8px
          }
        
          &::-webkit-scrollbar-thumb {
              -webkit-border-radius: 10px;
              border-radius: 10px;
              background: #2274A5;
          }
          
          .my-table {
            color: white;
            border-collapse: collapse;
            width: 100%;

            th, td {
              padding: 12px;
              border: 1px solid #4b4b4b; 
            }

            tr:nth-child(odd) {
              background-color: #0d0d0d; 
            }
            
            tr:nth-child(even) {
              background-color: #181818; 
            }
            
            thead {
              color: white;

              tr {
                background-color: transparent !important;
              }
            }

            .my-thead {
              .my-thead-tr {
                .sortable-col {
                   cursor: pointer;
                }
              }
            }
  
            .item-row {
              height: 30px;
              cursor: pointer;

              &.selected {
                background: rgb(46 61 71);
              }
            }
          }
        }
      }
  
      .selected-photos-area {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        row-gap: 5px;
        column-gap: 5px;
        color: white;
  
        &::-webkit-scrollbar {
          width: 10px;
          height: 8px
        }
      
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #2274A5;
        }

        .img-container {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;

          .my-img {
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }  
}